body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #07177f;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 4rem;
     background: linear-gradient(45deg, #ffffff, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 2s ease-in-out infinite altaernte;
}

 @keyframes glow {
            from { text-shadow: 0 0 20px rgba(0, 212, 255, 0.5); }
            to { text-shadow: 0 0 30px rgba(255, 255, 255, 0.8); }
        }