* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


body {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #07177f;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}

section {
    height 100vh
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    font-size: 4rem;
     background: linear-gradient(45deg, #ffffff, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 2s ease-in-out infinite altaernte;
}

.home p {
    max-width: 800px;
    font-size: 1.1rem;
}

.home a {
    width: 200px;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    background: linear-gradient(45deg, blue,white);
    padding: 14px;
    border-radius: 25px;
    width: 90px;
}

.home a:hover{
    transform: scale(5);
    color: #000;
    box-shadow: 20px 10px 25px oklab(99.336% 0.00305 0.00083);
}

.button-div {
    margin-top: 25px;
}

 @keyframes glow {
            from { text-shadow: 0 0 20px rgba(0, 212, 255, 0.5); }
            to { text-shadow: 0 0 30px rgba(255, 255, 255, 0.8); }
        }

.products{
    background-color: #080e32;
    padding: 50px 50px;
}

.title{
    margin-bottom: 40px;
}

.products h1{
    display: flex;
    justify-self: center;
    /* margin: 50px; */
    margin-bottom: 0;
    font-size: 2.7rem;
    font-weight: bold;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 20px;
    border: 2px solid #fff;
    gap: 10px;
    height: 400px;
}

.card h1{
    font-size: 1.3rem;
}