*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgb(8, 8, 70);
    height: 80vh;
    padding: 50px 50px;
    color: #fff;
}

.footer-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3{
    font-weight: 700;
}

ul{
    list-style: none;
}

li{
    line-height: 30px;
}

.socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}